/* Importar la fuente Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* Estilos generales */
body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor */
.container {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 800px;
    width: 100%;
}

/* Imagen */
.container .drawers-image {
    width: 50%;
    object-fit: cover;
}

/* Contenido */
.container .content {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .content h1 {
    font-size: 24px;
    font-weight: 700; /* Usando Manrope 700 */
    color: hsl(217, 19%, 35%);
    margin: 0 0 10px;
}

.container .content p {
    color: hsl(214, 17%, 51%);
    margin: 0 0 20px;
}

.container .content .author-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .content .author-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.container .content .author-info h2 {
    font-size: 14px;
    font-weight: 500; /* Usando Manrope 500 */
    margin: 0;
    color: hsl(217, 19%, 35%);
}

.container .content .author-info p {
    font-size: 12px;
    color: hsl(212, 23%, 69%);
    margin: 0;
}

/* Botón de compartir */
.container .content .share-button {
    position: relative;
    align-self: flex-end;
    background-color: hsl(217, 19%, 35%);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Estilo para el botón de compartir */
.share-button {
    position: relative;
    cursor: pointer;
}

/* Estilo para el menú flotante */
.menu {
    position: absolute;
    top: 58%; 
    right: 12.8%;
    transform: translateX(-50%);
    background-color: #37475a; /* Color de fondo del menú */
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 10px;
}

/* Estilo para las imágenes dentro del menú */
.menu img {
    width: 24px;    
    height: 24px;
    cursor: pointer;
    margin-right: 10px; 
    margin-left: 10px;
}

/* Flecha en la parte inferior del menú */
.menu::before {
    content: '';
    position: absolute;
    bottom: -8px; 
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #37475a; /* Color de fondo del menú */
}

/* Estilo para el texto "SHARE" */
.share-text {
    color: white;
    font-weight: bold;
    margin-right: 10px;
    align-self: center;
}



